body
{
    background:url('/assets/images/bedge_grunge.png');
    font-family:sans-serif;
}

.block
{
    width:1024px;
    border:1px solid #000;
    border-radius:8px;
    background-color:#EFD;
    padding:8px;
    margin:auto;
    margin-bottom:16px;
}

input
{
    background-color:#FFF;
    border:1px solid #000;
}
textarea[name=watchlist]
{
    width:700px;
    height:100px;
    margin:auto;
    border:1px solid #000;
}

input[type=submit]
{
    width:400px;
    text-align:center;
    margin:auto;
    background-image:url('/assets/images/button-blue.png');
    border:1px solid #007;
    font-size:14pt;
}

input[type=button]
{
    background-image:url('/assets/images/button-blue.png');
    cursor:pointer;
}

.row1
{
    background-color:#DFF;
}
.row2
{
    background-color:#FFF;
}

.c
{
    text-align:center;
}

table
{
    margin:auto;
    border-spacing:0 0;
    border-collapse:collapse;
    border:none;
}
td, th
{
    border:1px solid #000;
    padding:2px;
}

.jslink
{
    color:#00F;
    text-decoration:underline;
    cursor: pointer;
}

.guess
{
    color:red;
}

.known
{
    color:#00F;
}